@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #00ff41;
    --clr-primary-a10: #52ff5c;
    --clr-primary-a20: #74ff73;
    --clr-primary-a30: #8eff89;
    --clr-primary-a40: #a5ff9d;
    --clr-primary-a50: #b9ffb1;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}
/* https://colorffy.com/ */


* {
    font-family: "Orbitron", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

body {
    background-color: var(--clr-dark-a0);
    color: var(--clr-light-a0);
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.image-container {
    position: relative;
    display: flex;
    flex-basis: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    animation: fadeInLeft 2s ease-out forwards;    
}

.web-title {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.2em;
    text-align: center;
    pointer-events: none;
    background: rgba(0,0,0,0.8);
    animation: fadeInLeft 2s ease-out forwards;
    width: 100%;
    height: 120px;
    gap: 16px;
}

.web-title img {
    width: 60px;
    height: 60px;
    margin: 0px 8px 0px 8px;
}

.content {
    display: flex;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 100vh;
    background-color: var(--clr-dark-a0);
    animation: fadeInRight 2s ease-out forwards;
}

::placeholder {
    color: var(--clr-surface-a50);
}

.input-container {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: var(--clr-surface-a10);
    border-radius: 8px;
    border: 1px solid var(--clr-surface-a0);
    padding: 4px;
    
}

.input-container input {
    flex: 1;
    height: 100%;
    background-color: var(--clr-surface-a10);
    color: var(--clr-light-a0);
    border: none;
}

input:focus {
    outline: none;
}

.input-container:focus-within {
    border: 1px solid var(--clr-primary-a40);
}

.input-container:has(input:user-invalid) {
    border: 1px solid var(--clr-danger-a10);
}

.input-container.has-error {
    border: 1px solid var(--clr-danger-a10);
}

.input-container img {
    height: 80%;
    width: auto;
    margin: 0px 8px 0px 8px;

}

.error-msg {
    color: var(--clr-danger-a0);
    min-height: 36px;

}

.submit-btn {
    background-color: var(--clr-danger-a10);
    border: none;
    color: var(--clr-light-a0);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.5s ease;
    margin-right: 25px;
}

.submit-btn:hover {
    background-color: var(--clr-danger-a0);
    transform: scale(1.05);
}

.dupe-btn {
    background-color: var(--clr-info-a10);
    border: none;
    color: var(--clr-light-a0);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.5s ease;
    margin-right: 25px;
}

.dupe-btn:hover {
    background-color: var(--clr-info-a0);
    transform: scale(1.05);
}

#fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    z-index: 9999;
}

#fade-overlay.active {
    opacity: 1;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    animation: fadeInRight 2s ease-out forwards;
    margin-right: 16px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    animation: fadeInLeft 2s ease-out forwards;
    margin-left: 16px;
}

.github-logo, .pexels-logo {
    display: block;
    max-width: 28px;
    max-height: 28px;
    transition: transform 0.3s ease-in-out;
  
}

.pexels-logo:hover {
    transform: scale(1.2);
}

.github-logo:hover {
    transform: rotate(360deg) scale(1.2);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}